<div class="table-responsive">
    <table class="table text-center ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Usuario</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(accounts|count) %}
            <tr>

                <th scope="row">{{ accounts[i]["id"] }}</th>
                <td>{{ accounts[i]["username"] }}</td>
                <td>{{ accounts[i]["password"] }}</td>
                <td>{{ accounts[i]["email"] }}</td>

                <form action="{{ url_for('onclickeditaccount') }}" method="POST">
                    <input type="hidden" name="user_id" value="{{ accounts[i]['id'] }}">
                    <td>
                        <button type="submit" class="btn btn-danger">Editar</button>
                    </td>
                </form>

                <form action="{{ url_for('deleteaccount') }}" method="POST">
                    <input type="hidden" name="user_id" value="{{ accounts[i]['id'] }}">
                    <td>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>