<div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-3 mx-auto">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/telephone.svg') }}">
                <h5 class="card-title">Telefono</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="tel:961 223 4225">Llamanos Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/envelope-at.svg') }}">
                <h5 class="card-title">Correo Electronico</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="mailto:oheredia@fragua.com">Escribenos Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/geo-alt.svg') }}">
                <h5 class="card-title">Dirección</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="https://www.google.com/maps/dir/16.7510016,-93.1561472/Farmacias+Guadalajara,+Central+454,+Ter%C3%A1n,+29050+Tuxtla+Guti%C3%A9rrez,+Chis./@16.7516738,-93.1633662,16z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x85ecd9740a60aac9:0x1de4665a4a430a7b!2m2!1d-93.1618276!2d16.7523484">Ubicanos
                        Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
</div>