<br>
<h1 class="text-center font-weight-bold">Panel De Administrador</h1>
<br>

<div class="row text-center mx-auto">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/people.svg') }}">
                <h5 class="card-title">Cuentas</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{{ url_for('account') }}">Gestiona Aqui
                        Tus Cuentas</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/calendar3.svg') }}">
                <h5 class="card-title">Citas</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{{ url_for('appointment') }}">Gestiona Aqui
                        Tus Citas</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
</div>
<div class="row text-center mx-auto">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/person-vcard.svg') }}">
                <h5 class="card-title">Pacientes</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{{ url_for('patient') }}">Gestiona Aqui
                        Tus Pacientes</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <img class="bi mb-2" width="50rem" height="50rem"
                    src="{{ url_for('static', filename='assets/icons/doctor.svg') }}">
                <h5 class="card-title">Doctores</h5>
                <button type="button" class="btn btn-danger"><a class="text-decoration-none text-white"
                        href="{{ url_for('doctor') }}">Gestiona Aqui
                        Tus Doctores</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
</div>