<br>
<h1 class="text-center font-weight-bold">Gestor De Cuentas</h1>
<br>
<tbody>
    {% if session.get('editform') == true %}
    <div class="col-9 mx-auto mb-3">
        <form action="{{ url_for('editaccount') }}" method="POST">
            <label for="InputId" class="form-label">
                <h5>Identificador</h5>
            </label>
            <input id="id" name="id" type="text" class="form-control"
                value="{{ session['user_information']['id'] }}">
            <label for=" InputUsername" class="form-label">
                <h5>Usuario</h5>
            </label>
            <input id="username" name="username" type="text" class="form-control"
                value="{{ session['user_information']['username'] }}">
            <label for="InputPassword" class="form-label">
                <h5>Contraseña</h5>
            </label>
            <input id="password" name="password" type="password" class="form-control"
                value="{{ session['user_information']['password'] }}">
            <label for="InputEmail" class="form-label">
                <h5>Correo Electronico</h5>
            </label>
            <input id="email" name="email" type="text" class="form-control"
                value="{{ session['user_information']['email'] }}"><br><br>
            <button type="submit" class="btn btn-danger w-100" value="Changes">Actualizar Cambios</button>
        </form>
    </div>
    {% elif session.get('createform') == true %}
    <div class="col-9 mx-auto mb-3">
        <form action="{{ url_for('createaccount') }}" method="POST">
            <label for="InputId" class="form-label">
                <h5>Identificador</h5>
            </label>
            <input id="id" name="id" type="text" class="form-control">
            <label for="InputUsername" class="form-label">
                <h5>Usuario</h5>
            </label>
            <input id="username" name="username" type="text" class="form-control">
            <label for="InputEmail" class="form-label">
                <h5>Correo Electronico</h5>
            </label>
            <input id="email" name="email" type="text" class="form-control">
            <label for="InputPassword" class="form-label">
                <h5>Contraseña</h5>
            </label>
            <input id="password" name="password" type="password" class="form-control"><br><br>

            <button type="submit" class="btn btn-danger w-100" value="Changes">Crear Cuenta</button>
        </form>
    </div>
    {% else %}
    <div class="text-center">
        <a href="{{ url_for('onclickecreateaccount') }}"><button type="button"
                class="btn btn-danger">Crear
                Usuario</button></a>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Exportar Archivo
            </button> <!-- Agregar esta etiqueta de cierre -->
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('appointmentmysqltocsv') }}">CSV</a>
                <a class="dropdown-item" href="{{ url_for('appointmentmysqltopdf') }}">PDF</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <form action="{{ url_for('searchappointment') }}" method="POST">
        <div class="input-group w-50 mx-auto d-flex">
            <input type="search" name="searchappointment" class="form-control rounded" placeholder="" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-danger">Buscar</button>
        </div>
    </form>

    </div>



    {% endif %}
</tbody>