<div class="text-center mt-5">
    <h3>Productos Destacados</h3>
    <div class="card-footer text-muted">
        A los mejores precios del mercado.
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 mt-1 g-4">
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/card/1.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Medicamento 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis mollitia
                    ratione, architecto vero excepturi modi corrupti dolorem placeat et eius labore consectetur facere
                    eaque expedita aperiam itaque nobis assumenda!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/card/2.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Medicamento 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis mollitia
                    ratione, architecto vero excepturi modi corrupti dolorem placeat et eius labore consectetur facere
                    eaque expedita aperiam itaque nobis assumenda!</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="{{ url_for('static', filename='assets/images/card/3.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Medicamento 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis mollitia
                    ratione, architecto vero excepturi modi corrupti dolorem placeat et eius labore consectetur facere
                    eaque expedita aperiam itaque nobis assumenda!</p>
            </div>
        </div>
    </div>
</div>