<div class="container text-center mt-5 mb-5">
    <div class="row ">
        <!-- <div class="col order-last">
        </div> -->
        <div class="col">
            <div class="col mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="col mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-danger">Inicar Sesión</button>
        </div>
        <!-- <div class="col order-first">
        </div> -->
    </div>
</div>