<form action="{{ url_for('login') }}" method="post">
    <div class="container text-center mt-5 mb-5">
        <div class="row ">
            <div class="msg">
                <h1>{{ msg }}</h1><br><br>
            </div>
            <div class="col">

                <div class="col-9 mx-auto mb-3">
                    <label for="InputUsername" class="form-label">
                        <h5>Usuario</h5>
                    </label>
                    <input id="username" name="username" type="text" class="form-control">
                </div>
                <div class="col-9 mx-auto mb-3">
                    <label for="InputPassword" class="form-label">
                        <h5>Contraseña</h5>
                    </label>
                    <input id="password" name="password" type="password" class="form-control"><br>
                    <button type="submit" class="btn btn-danger w-100" value="Sign In">Iniciar Sesión</button>
                </div>

            </div>
        </div>
    </div>
</form>