<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmacias Guadalajara</title>

    {% include 'libraries/lib-css.html' %}

</head>

<body>

    {% include 'tools/navbar.html' %}

    {% include 'views/patient/container/form.html' %}

    {% include 'views/patient/container/table.html' %}

    {% include 'libraries/lib-js.html' %}

</body>

</html>