<br>
<h1 class="text-center font-weight-bold">Gestor De Doctores</h1>
<br>
<tbody>
    {% if session.get('editform') == true %}
    <div class="col-9 mx-auto mb-3">
        <form action="{{ url_for('editdoctor') }}" method="POST">
            <label for="InputId" class="form-label">
                <h5>Identificador</h5>
            </label>
            <input id="id" name="id" type="text" class="form-control"
                value="{{ session['user_information']['id'] }}">
            <label for=" InputFullname" class="form-label">
                <h5>Nombre Completo</h5>
            </label>
            <input id="fullname" name="fullname" type="text" class="form-control"
                value="{{ session['user_information']['fullname'] }}">
            <label for="InputSpeciality" class="form-label">
                <h5>Especialidad</h5>
            </label>
            <input id="speciality" name="speciality" type="text" class="form-control"
                value="{{ session['user_information']['speciality'] }}">
            <label for="InputAddress" class="form-label">
                <h5>Dirección</h5>
            </label>
            <input id="address" name="address" type="text" class="form-control"
                value="{{ session['user_information']['address'] }}">                       
            <label for="InputEmail" class="form-label">
                <h5>Correo Electronico</h5>
            </label>
            <input id="email" name="email" type="text" class="form-control"
                value="{{ session['user_information']['email'] }}">
            <label for="InputPhonenumber" class="form-label">
                <h5>Número de Télefono</h5>
            </label>
            <input id="phonenumber" name="phonenumber" type="text" class="form-control"
                value="{{ session['user_information']['phonenumber'] }}">
            <br><br>
            <button type="submit" class="btn btn-danger w-100" value="Changes">Actualizar Cambios</button>
        </form>
    </div>
    {% elif session.get('createform') == true %}
    <div class="col-9 mx-auto mb-3">
        <form action="{{ url_for('createdoctor') }}" method="POST">
            <label for="InputId" class="form-label">
                <h5>Identificador</h5>
            </label>
            <input id="id" name="id" type="text" class="form-control">
            <label for=" InputFullname" class="form-label">
                <h5>Nombre Completo</h5>
            </label>
            <input id="fullname" name="fullname" type="text" class="form-control">
            <label for="InputSpeciality" class="form-label">
                <h5>Especialidad</h5>
            </label>
            <input id="speciality" name="speciality" type="text" class="form-control">
            <label for="InputAddress" class="form-label">
                <h5>Dirección</h5>
            </label>
            <input id="address" name="address" type="text" class="form-control">                       
            <label for="InputEmail" class="form-label">
                <h5>Correo Electronico</h5>
            </label>
            <input id="email" name="email" type="text" class="form-control">
            <label for="InputPhonenumber" class="form-label">
                    <h5>Número de Télefono</h5>
            </label>
            <input id="phonenumber" name="phonenumber" type="text" class="form-control">
            <br><br>
            <button type="submit" class="btn btn-danger w-100" value="Changes">Crear Cuenta</button>
        </form>
    </div>
    {% else %}
    <div class="text-center">
        <a href="{{ url_for('onclickedcreatedoctor') }}"><button type="button"
                class="btn btn-danger">Añadir
                Doctor</button></a>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Exportar Archivo
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('doctormysqltocsv') }}">CSV</a>
                <a class="dropdown-item" href="{{ url_for('doctormysqltopdf') }}">PDF</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <form action="{{ url_for('searchdoctor') }}" method="POST">
        <div class="input-group w-50 mx-auto d-flex">
            <input type="search" name="searchdoctor" class="form-control rounded" placeholder="" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-danger">Buscar</button>
        </div>
    </form>

    </div>



    {% endif %}
</tbody>