<div class="table-responsive">
    <table class="table text-center ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Direccion</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Numero de telefono</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(doctors|count) %}
            <tr>

                <th scope="row">{{ doctors[i]["id"] }}</th>
                <td>{{ doctors[i]["fullname"] }}</td>
                <td>{{ doctors[i]["speciality"] }}</td>
                <td>{{ doctors[i]["address"] }}</td>
                <td>{{ doctors[i]["email"] }}</td>
                <td>{{ doctors[i]["phonenumber"] }}</td>

                <form action="{{ url_for('deletedoctor') }}" method="POST">
                    <input type="hidden" name="user_id" value="{{ doctors[i]['id'] }}">
                    <td>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </td>
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>