<div class="row row-cols-1 row-cols-md-3 g-4 text-center">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Telefono</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white"
                        href="tel:713-992-0916">Llamanos Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Correo Electronico</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white"
                        href="tel:713-992-0916">Escribenos Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Dirección</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <button type="button" class="btn btn-primary"><a class="text-decoration-none text-white"
                        href="tel:713-992-0916">Ubicanos Ahora</a></button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Farmacias Guadalajara</small>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row row-cols-1 row-cols-md-3 g-1">
    <div class="col">
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div> -->


</div>



<!-- <div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    <img src="{{ url_for('static', filename='assets/images/imagegap/1.jpg') }}" class="card-img-bottom" alt="...">
</div> -->

<!-- <img src="{{ url_for('static', filename='assets/images/imagegap/1.jpg') }}" class="card-img-bottom" alt="..."> -->